<div class="div-table">
    <table mat-table [dataSource]="listErrores" class="mat-elevation-z8">
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef>Estatus</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.estatus; else elseBlock">
            <mat-icon svgIcon="aceptar"></mat-icon>
          </div>
          <ng-template #elseBlock>
            <mat-icon svgIcon="cancelar"></mat-icon>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="tipoProceso">
        <th mat-header-cell *matHeaderCellDef>Proceso</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoProceso }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="progeso">
        <th mat-header-cell *matHeaderCellDef>Progreso</th>
        <td mat-cell *matCellDef="let element">
          <mat-progress-bar mode="determinate" [value]="valueProgress"></mat-progress-bar>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <button matSuffix mat-icon-button (click)="irPaginaPdf()">
            <mat-icon aria-label="Descargar información">picture_as_pdf</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
