<div>
  <mat-form-field>
    <input matInput placeholder="Ubicar gasolinera" class="input-search"/>
    <button matSuffix mat-icon-button >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<div>
  <mat-card *ngFor="let gasolinera of gasolineras">
    <mat-card-content>
      <div>
        <p>{{gasolinera.direccion}}</p>
      </div>
      <div>
        <button mat-raised-button class="button-select" (click)="irEstaciones(gasolinera.id)">
          Seleccionar
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
